<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="@routes.Application.accueil">Accueil</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="@routes.Application.presentation">Présentation</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="@routes.Application.metiers">Métiers</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="@routes.Application.professeurs">Professeurs</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="@routes.Application.eleves">Elèves</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="@routes.Application.projets">Projets</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; ICC 2014. Tous droits réservés</p>
            </div>
        </div>
    </div>
</footer>