@()

@main("Option ICC : Ingénierie du Cloud Computing | EISTI"){

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Bienvenue sur le site de l'option ICC</h1>
                    <h3>Ingénierie du Cloud Computing</h3>
                    <hr class="intro-divider">
                    <div class="container">
                        <div class="row">
                            <div class='col-md-offset-2 col-md-8 text-center'>
                                <h2 id="carousel-title" class="index">Twitter de l'option - <a href="https://twitter.com/ICC_EISTI">@@ICC_EISTI</a></h2>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-offset-2 col-md-8' style="min-height: 500px;">
                                <div class="twitter-timeline" data-dnt="true" data-chrome="transparent noheader nofooter noborders" data-tweet-limit="4" data-theme="dark" data-border-color="#cccccc" data-widget-id="441647532108574721"></div>
                                <script>
                                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
