@()

@main("Option ICC : Ingénierie du Cloud Computing | EISTI") {
<br/><br/>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Les métiers du cloud</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="clearfix"></div>
                <h3>Architecte de systèmes d'information</h3>
                <p class="lead">L'architecte de systèmes d'information conçoit l'architecture du système d'information, c'est-à-dire qu'il conçoit les différentes briques du système d'information (SI) et leur imbrication et est chargé de leur évolution. Pour mener à bien sa mission, l'architecte de système d'information doit en premier lieu étudier les besoins du client (sa direction ou bien le client chez qui il est en mission), établir une cartographie du système en analysant l'existant, puis proposer un modèle d'architecture et enfin la mettre en œuvre en choisissant une infrastructure matérielle et logicielle.</p>
                <h3>Responsable sécurité des systèmes d'information</h3>
                <p class="lead">Les informations stockées dans les systèmes informatiques sont souvent confidentielles. Le responsable sécurité informatique a pour tâche de mettre en place tous les éléments nécessaires à la protection des données.</p>
                <h3>Chef de projet</h3>
                <p class="lead">Au sein d'une entreprise utilisatrice ou d'un SSII, un chef de projet est un authentique chef d'orchestre : chargé d'animer une équipe plus ou moins important, il est responsable au quotidien de l'avancement d'un projet et donc de la satisfaction de son client.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <h3>Ingénieur Recherche et Développement</h3>
                <p class="lead">Son maître mot : l'innovation ! Dans les services de recherche et développement, entouré d'une équipe de techniciens, il imagine de nouveaux produits ou améliore ceux qui existent déjà. Selon les entreprises, il suit chancun de ses "bébés" de leur conception à leur mise en production, ou il se spécialise dans un seul domaine : recherche, développement, essais... Quoi qu'il en soit, il travaille main dans la main avec les autres services de l'entreprise (marketing, production, qualité...). Ce scientifique confirmé suit de près toutes les innovations technologiques dans son domaine industriel et fait preuve d'une grande réactivité : pas question de se laisser doubler par la concurrence !</p>
                <img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/icc-600x300.png")' alt="Logo ICC">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <h2>Ils emploient des élèves de l'option :</h2><br/>
            <div class="col-lg-2 col-lg-offset-2 col-sm-6 col-xs-6" >
                <a href="http://www.google.fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/google-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="https://www.3ds.com/fr" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/dassault-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.sopragroup.fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/sopra-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.turbomeca.com/?lang=fr" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/turbomeca-600x300.png")' alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-sm-6 col-xs-6" >
                <a href="http://www.bull.fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/bull-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.naturabuy.fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/naturabuy-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.objectif-informatique.fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/objectif-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.valtech.fr/fr" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/valtech-600x300.png")' alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-3 col-sm-4 col-xs-4">
                <a href="http://home.web.cern.ch/fr" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/cern-300x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-4">
                <br/><br/><br/>
                <a href="http://www.octo.com/fr" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/octo-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-4">
                <a href="http://www.total.fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/entreprises/total-300x300.png")' alt=""></a>
            </div>
        </div>
    </div>
</div>
}