<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-cloud"></i> ICC</a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@routes.Application.accueil">Accueil</a></li>
                <li><a href="@routes.Application.presentation">Présentation</a></li>
                <li><a href="@routes.Application.metiers">Métiers</a></li>
                <li><a href="@routes.Application.professeurs">Professeurs</a></li>
                <li><a href="@routes.Application.eleves">Elèves</a></li>
                <li><a href="@routes.Application.projets">Projets</a></li>
            </ul>
        </div>
    </div>
</nav>