@main("Erreur 404 : vous semblez perdu") {

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/notfound.css")'>

<div class="intro-header" id="totalcontainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Erreur 404 : Vous semblez perdu..<br/>La page d'accueil est <a href="@routes.Application.accueil">ici</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>
}