@()

@main("Option ICC : Ingénierie du Cloud Computing | EISTI") {
<br/><br/>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Présentation de l'option</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="clearfix"></div>
                <p class="lead"><b>Depuis longtemps</b>, les Systèmes d'Informations (SI) centralisés ont été conçus pour répondre aux besoins des entreprises. Or, la mondialisation et les mutations permanentes des entreprises imposent la refonte de ces systèmes. L'enjeu est double : accéder aux données de l'entreprise en limitant la phase de migration ; faire coopérer des SI hétérogènes. Ingénierie du Cloud Computing résout cette problématique.</p>
                <p class="lead"><b>Parallèlement</b>, il s'agit d'offrir aux utilisateurs un service de qualité constant. Cela nécessite d'accéder aux données depuis un ordinateur, mais aussi d'intégrer le fait que les personnes sont davantage mobiles. Elles doivent pouvoir utiliser leur SI depuis tout endroit et à tout instant. Pour cela, plusieurs technologies peuvent être employées : utilisation de périphériques dédiés au nomadisme, transfert du travail sur un serveur distant, etc. Ceci permet de stocker les "processus métiers" sur le serveur. Dans ces conditions, le poste de travail devient "visualisateur" du SI, et permet d'effectuer des actions spécifiques à la demande.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <p class="lead"><b>L'Ingénierie du Cloud Computing</b> assure donc :
                <ul>
                    <li>l'accès aux données issues de sources hétérogènes</li>
                    <li>la visualisation d'un SI, de son poste de travail ou à partir de tout autre périphérique capable de communiquer</li>
                    <li>la sécurisation des échanges inter et intra entreprise</li>
                </ul>
                </p>
                <p class="lead">Elle permet d'adapter les SI classiques aux contraintes liées à l'évolution des moyens de communication. Aujourd'hui, la croissance des réseaux et la diversification des contenus qui y transitent, amènent les entreprises à déployer des solutions leur permettant d'accéder à leur SI dans n'importe quelle condition géographique, matérielle... ou inhabituelle. L'émergence des réseaux à très haut débit, la normalisation des transferts de données et le développement des technologies orientées Web, permettent une refonte complète des SI. Dans le respect de deux impératifs : une sécurité indispensable et une évolution transparent des nouveaux besoins liés au nomadisme.</p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <h2>Pour cela, nous utilisons :</h2><br/>
            <div class="col-lg-1 col-lg-offset-3 col-sm-2 col-xs-4">
                <a href="http://akka.io/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/akka-300x300.png")' alt="Akka"></a>
            </div>
            <div class="col-lg-1 col-sm-2 col-xs-4">
                <a href="http://www.android.com/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/android-300x300.png")' alt="Android"></a>
            </div>
            <div class="col-lg-1 col-sm-2 col-xs-4">
                <a href="http://groovy.codehaus.org/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/groovy-300x300.png")' alt="Groovy"></a>
            </div>
            <div class="col-lg-1 col-sm-2 col-xs-4">
                <a href="http://www.w3schools.com/html/html5_intro.asp" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/html5-300x300.png")' alt=""></a>
            </div>
            <div class="col-lg-1 col-sm-2 col-xs-4">
                <a href="http://www.w3schools.com/css/css3_intro.asp" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/css3-300x300.png")' alt=""></a>
            </div>
            <div class="col-lg-1 col-sm-2 col-xs-4">
                <a href="http://www.w3schools.com/js/js_intro.asp" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/javascript-300x300.png")' alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-sm-6 col-xs-6" >
                <a href="http://angularjs.org/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/angularjs-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://gaelyk.appspot.com/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/gaelyk-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.playframework.com/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/play-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.scala-lang.org/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/scala-600x300.png")' alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-sm-6 col-xs-6">
                <a href="http://hadoop.apache.org/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/hadoop-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <a href="http://www.gridgain.com/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/gridgain-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-1 col-sm-3 col-xs-3">
                <a href="https://appengine.google.com/‎" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/gae-300x300.png")' alt=""></a>
            </div>
            <div class="col-lg-1 col-sm-3 col-xs-3">
                <a href="https://glassfish.java.net/fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/glassfish-300x300.png")' alt=""></a>
            </div>
            <div class="col-lg-1 col-sm-3 col-xs-3">
                <a href="http://www.java.com/fr/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/java-300x300.png")' alt=""></a>
            </div>
            <div class="col-lg-1 col-sm-3 col-xs-3">
                <a href="http://www.mono-project.com/Main_Page" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/mono-300x300.png")' alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-3 col-sm-4 col-xs-4">
                <a href="https://mahout.apache.org/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/mahout-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-4">
                <a href="http://www.mongodb.org/" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/mongoDB-600x300.png")' alt=""></a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-4">
                <a href="http://wiki.nginx.org/Main" target="_blank"><img class="img-responsive" src='@routes.Assets.at("images/logos/technologies/nginx-600x300.png")' alt=""></a>
            </div>
        </div>
    </div>
</div>
}